{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<h1>This is notes </h1>
{{ wtf.quick_form(form) }}

<h2>empty database: {{ empty }}</h2>


<!--h2>numer of notes: ({{ amount }}) <br> {% if jsonfile == '[]' %}You have no notes{% else %} {{ jsonfile }}{% endif %}</h2-->
<h2>numer of notes: ({{ amount }}) <br> {% if jsonfile == '[]' %}You have no notes{% else %}
    {% for item in data %} 
<div>
{{ item['id']}}
{{ item['name'] }}<br>
{{ item['note'] }}
</div>
{% endfor %}
    {% endif %}</h2>
<!--h2>{{ title }}</h2-->
<!--h2>data.name = {{ name }}</h2-->


{% endblock %}


